* {
    margin:0;
    padding:0;
    text-decoration:0;
    color:white;
}

.navbar {

    background-color: black;

    height: 9vh;

}

.navbar__item {

    float:left;
    padding: 15px;
    background-color: black;
    

}

.navbar__item:hover {

    background-color: rgba(204, 193, 193, 0.144);
    transform: scale(1.2);

}

.fade-in.hflogo{
    -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


@keyframes fadeIn { from { opacity:0; 
    transform:scale(.5)
    
    } to { opacity:1;  transform:scale(1) } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn cubic-bezier(.39,.575,.565,1.000) ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-duration:1.5s;
}
